body {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/* Flex displaying the first section */

.section1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    width: 75%;
}

.header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.hero {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    width: 75%;
    margin: 3rem auto;
}

.hero .right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

/* Styling  the first section */

.section1, 
.footer {
    background-color: #1f2937;
}

.header ul li {
    list-style-type: none;
}

.header ul li a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.hero-text {
    color: #e5e7eb;
    font-size: 18px;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

.hero-header {
    font-weight: bolder;
    font-size: 48px;
    color: #f9faf8;
}

.hero .left {
    max-width: 452px;
    gap: 10px;
}

.hero .right {
    width: 500px;
    background-color: gray;
    color: #f9faf8;
}

.hero button {
    font-size: 18px;
    color: #f9faf8;
    background-color: #3882f6;
    border-radius: 8px;
    width: 120px;
    padding: 5px;
    font-weight: bold;
}

.hero button:hover {
    color: #3882f6;
    background-color: #f9faf8;
    transition-duration: 50ms;
}

/* Flex displaying the second section */

.section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.section2 .header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section2 .info-container {
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
    width: 75%;
}

.section2 .info {
    max-width: 170px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    padding: 1rem;
}

/* Section 2 styling*/

.section2 img {
    height: 200px;
    width: auto;
    border: 3px solid #3882f6;
    border-radius: 10px;
}

.section2 .text{
    font-size: 18px;
    color: #1f2937;
} 

.section2 .header {
    font-weight: 1000;
    font-size: 36px;
    color: #1f2937;
    padding: 1rem;
}

/* Flex displaying the third section */

.section3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    width: 100%;
    padding: 1rem;
}

.section3 .quote {
    max-width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section3 .author {
    width: 60%;
    display: flex;
    justify-content: flex-end;
}

/* Section 3 Styling */

.section3 {
    background-color: #e5e7eb;
}

.section3 .quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.section3 .author {
    font-size: 24px;
    font-weight: bold;
    color: #1f2937;
    margin-top: 0.5rem;
}